{{template "base" .}}

{{ define "title"}}
<title>Bookings | About</title>
{{end}}

{{define "main"}}
<main class="container">
  <section class="row">
    <article class="col">
      <h1>This is the about page</h1>

      <p>This came from the template: {{index .StringMap "test"}}</p>
    </article>
  </section>
</main>
{{end}}
