{{template "base" .}}

{{define "title"}}
<title>Bookings | Home</title>
{{end}}

{{define "main"}}
<main class="container">
  <section class="row">
    <article class="col">
      <h1>This is the home page</h1>
      <p>This is some text</p>
    </article>
  </section>
</main>
{{end}}
